@font-face {
  font-family: 'Jukebox';
  src: url('/assets/jukebox.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Neon';
    src: url('/assets/Neon.ttf')  format('truetype');
}
/*
old color sheme: http://paletton.com/#uid=33p0u0kllllaFw0g0qFqFg0w0aF
new 3: http://paletton.com/#uid=3440u0kllllaFw0g0qFqFg0w0aF
new 4: http://paletton.com/#uid=7441q0kllllaFw0g0qFqFg0w0aF
*/
body {
    background: #022835;
    font-family: 'Neon', sans-serif;
    font-size: 14px;
}

.hinfo {
    font-family: 'Jukebox', sans-serif;
    font-weight: normal;
    color: #D47A6A;
    font-size: 4em;
    text-align: center;
}

.hinfo.center_h {
    color: #AA8939;
}


h1 {
    font-family: 'Jukebox', sans-serif;
    font-weight: normal;
    color: #FFE6AA;
    font-size: 8em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h2 {
    font-weight: normal;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

h3 {
    font-family: 'Jukebox', sans-serif;
    font-weight: normal;
    color: #D47A6A;
    font-size: 4em;
    text-align: center;
}

div#menu_button {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  z-index: 20;
}

div#menu_button img {
  width: 3em;
}

div#menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #022835;
  border-bottom: solid 0.1em #AA8939;
  height: 5em;
  z-index: 10;
  width: 100%;
  padding: 1em 2em;
  display: none;
}

div.menu_item {
  display: inline-block;
  font-family: 'Jukebox', sans-serif;
  font-weight: normal;
  color: #AA8939;
  font-size: 4em;
}

div#current_track {
    min-height: 2em;
    margin: auto 0.5em;
    text-align: center;
    color: #FFE6AA;
    font-size: 2em;
}

div#voting_booth {
    width: 100%;
    margin-top: 3em;
    height: 22em;
    display: flex;
    /*display: none;*/
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

div#result_page {
    display: none;
}



div.choice-box {
    box-sizing: padding-box;
    width: 21.5%;
    /*background: rgb(200,200,200);*/
    border-radius: 1.5em;
}

.choice-box div {
    text-align: center;
    padding: 1em 2em;
    font-size: 2em;
    
}

#choice0 {
    border: solid 0.75em #1F1959;
    background: #837EB1;
    color: #1F1959;
}

#choice1 {
    border: solid 0.75em #761429;
    background: #EC9DAE;
    color: #761429;
}

#choice2 {
    border: solid 0.75em #326F12;
    background: #AEDE94;
    color: #326F12;
}

#choice3 {
    border: solid 0.75em #806815;
    background: #FFECAA;
    color: #806815;
}

#res_bar0 {
    background: #837EB1;
}

#res_bar1 {
    background: #EC9DAE;
}

#res_bar2 {
    background: #AEDE94;
}

#res_bar3 {
    background: #FFECAA;
}

.res_row0 {
    color: #837EB1;
    font-size: 2em;
}

.res_row1 {
    color: #EC9DAE;
    font-size: 2em;
}

.res_row2 {
    color: #AEDE94;
    font-size: 2em;
}

.res_row3 {
    color: #FFECAA;
    font-size: 2em;
}

.elected {
    font-family: 'Jukebox', sans-serif;
    font-weight: normal;
    color: #AA8939;
    font-size: 4em;
}
