table.res_table {
    width: 100%;
    border-collapse: collapse;
}

table.res_table th, table.res_table td {
    padding: 1em;
    border: none;
    border-collapse: collapse;
    text-align: center;
    width: 25%;
}

table.res_table th {
    height: 22em;
    vertical-align: bottom;
}

div.res_bar {
    height: 100%;
    width: 3em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    background: rgb(200, 200, 200);
    margin: 0, auto;
    display: inline-block;
}